.mat-card-live{
    border: 1px solid #CFD8DC; 
    border-radius: 4px 3px 6px / 2px 4px; 
    padding-top: 15px; 
    padding-left: 0%; 
    padding-right: 0%; 
    padding-bottom: 0%;
    margin: 5px;
}


.mat-card-title-live{
    padding-left:10px; 
    padding-top: 0px; 
    padding-right: 15px; 
    margin-bottom: 0px; 
    min-height: 70px;
}

.mat-chip-date{
    background-color: #90CAF9 !important; 
    color: black !important;
}